server:
  port: 8082
spring:
  application:
    name: SkTravelingUserService

  datasource:
    url: jdbc:postgresql://localhost:5432/sk_traveling_reservation_db
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
